<div class="card">
    <div class="name">
        Name: 
        {{ELEMENT_DATA[1].name}}
    </div>
    <hr>
    <div class="phone">
        Phone:
        {{ELEMENT_DATA[1].phone}}

    </div>
    <hr>
    <div class="dob">
        Date Of Birth:
        {{ELEMENT_DATA[1].dob}}
        
    </div>
    <hr>

    <div class="comments">
        <span >Comments:</span>
        <div class="commentDetails" *ngFor="let c in ELEMENT_DATA"></div>
        <!-- <app-comment-details [theData]=""></app-comment-details> -->

    </div>
</div>